<div class="row justify-content-center">
  <% @hostels.each do |hostel| %>

    <div class="col-12 col-8">
      <div class="card-product">
        <img src = <%=@hostel.image_url %> >
        <h1><%= @hostel.name%></h1>
        <h2><%= @hostel.address%></h2>
      </div>
    </div>

       <div class="col-12 col-8">
      <div class="card-product">
        <img src= <%= @hostel.image_url %> >
        <h1><%= @hostel.name%></h1>
        <h2><%= @hostel.address%></h2>
      </div>
    </div>

       <div class="col-12 col-8">
      <div class="card-product">
        <img src= <%= @hostel.image_url %> >
        <h1><%= @hostel.name%></h1>
        <h2><%= @hostel.address%></h2>
      </div>
    </div>

       <div class="col-12 col-8">
      <div class="card-product">
        <img src= <%= @hostel.image_url %> >
        <h1><%= @hostel.name%></h1>
        <h2><%= @hostel.address%></h2>
      </div>
    </div>

       <div class="col-12 col-8">
      <div class="card-product">
        <img src= <%= @hostel.image_url %> >
        <h1><%= @hostel.name%></h1>
        <h2><%= @hostel.address%></h2>
      </div>
    </div>

       <div class="col-12 col-8">
      <div class="card-product">
        <img src= <%= @hostel.image_url %> >
        <h1><%= @hostel.name%></h1>
        <h2><%= @hostel.address%></h2>
      </div>
    </div>

  <% end %>
</div>
