
<div class="card-trip">
  <img src=/>
  <div class="card-trip-infos">
    <div>
      <h2><%= @hostel.name %></h2>
      <p><%= @hostel.address %></p>
      <p><%= @hostel.capacity %></p>
      <p><%= @hostel.type_pets %></p>
      <p><%= @hostel.description %></p>
    </div>
    <a class="btn btn-ghost" href="#">reserver</a>
  </div>
</div>
