<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4))">
  <div class="container">
    <h1>Detail of hostel</h1>
  </div>
</div>
<br>
<br>
<div class="card-trip">
  <div class="col-12 sm-8 offset-4">
    <img src= <%= @hostel.image_url %> >
    <div class="card-trip-infos">
      <div>
        <h2><%=@hostel.name %></h2>
        <p><%= @hostel.address %></p>
        <p><%= @hostel.capacity %></p>
        <p><%= @hostel.type_pets %></p>
        <p><%= @hostel.description %></p>
        <%= link_to "reserver", "#", class: "btn btn-ghost" %>
      </div>
    </div>
  </div>
</div>
