
<div class="card-trip">
  <img src="/https://images.unsplash.com/photo-1618943871024-ae0e74189b36?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80">
  <div class="card-trip-infos">
    <div>
      <h2><%= @hostel.name %></h2>
      <p><%= @hostel.address %></p>
      <p><%= @hostel.capacity %></p>
      <p><%= @hostel.type_pets %></p>
      <p><%= @hostel.description %></p>
    </div>
    <a class="btn btn-ghost" href="#">reserver</a>
  </div>
</div>
